*
**/.snakemake*
!config
!config/*
!cluster
!cluster/slurm
!cluster/slurm/*
!workflow
!workflow/*
!workflow/envs/*
!workflow/rules/*
!workflow/scripts/*
!resources
!resources/*
!resources/wgs_calling_scatter_intervals/*
!resources/xgen-exome-hyb-panel-v2-targets-hg38_scatter_intervals/*
!.test
!.test/data
!.test/data/*
!.test/config
!.test/config/*
!Snakefile
!snakemake.yaml
!snakemake_slurm.sh
!.gitignore
!.gitattributes
!README.md
!CHANGELOG.md
